.bead {
	height : 50px;
	width : 50px;
	background-color : lime;
	border-radius : 50%;
	box-shadow: 0px -11px 23px -3px black inset;
	
	margin-top : -25px;
}

.row {
	clear : both;
	border: 1px solid silver;
	margin-top: 50px;
}

#raam {
	border-width : 10px;
	border-style : outset;
	border-color : brown;
	padding-bottom : 50px;
}

.vasakule {
	float : left;
}

.paremale {
	float : right;
}