body {
	background: #0A24A9;
}

img {
	position: fixed;
	width: 100%;
	left: 0px;
	bottom: 0px;
	
}

#first-ring {
	background-color: transparent;
	position: fixed;
	top: 200px;
	left: 200px;
	height: 100px;
	width: 100px;
}

.sise {
	border-radius: 50%;
	position: absolute;
	border: 1px solid brown;
}

div:nth-child(1) {
	height: 100%;
	width: 100%;
	background: white;
	left: 0%;
	top: 0%;
}

div:nth-child(2) {
	height: 90%;
	width: 90%;
	background: red;
	left: 5%;
	top: 5%;
}

div:nth-child(3) {
	height: 75%;
	width: 75%;
	background: white;
	left: 12.5%;
	top: 12.5%;
}

div:nth-child(4) {
	height: 50%;
	width: 50%;
	background: red;
	left: 25%;
	top: 25%;
}

div:nth-child(5) {
	height: 35%;
	width: 35%;
	background: white;
	left: 32.5%;
	top: 32.5%;
}

div:nth-child(6) {
	height: 10%;
	width: 10%;
	background: red;
	left: 45%;
	top: 45%;
}

